<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main">
<head>


<title>Board</title>

<link href="/css/carousel.css" rel="stylesheet"
	th:href="@{/css/carousel.css}" />
</head>

<body>

	<div layout:fragment="content">

		<div class="container">
			<br />
			<br />
			<br />
			<h1 th:text="${boardName}">School Board Page</h1>
			<h3>Content:</h3>
			<span th:text="${boardContent}">Content Goes Here</span>
		</div>

	</div>

</body>
</html>
